{{ define "main" }}
  {{ if eq .Type "profile" }}
    <link rel="stylesheet" href="{{ "css/custom.css" | relURL }}">
  {{ end }}

  <h1>Career</h1>
  <div class="container">

     <div class="timeline-block timeline-block-right">
        <div class="marker"></div>
        <div class="timeline-content">
           <h3>Hiroshima University</h3>
           <span>2019.4 - 2023.3</span>
           <p>Faculty of Science, Department of Physics</p>
        </div>
     </div>

     <div class="timeline-block timeline-block-left">
        <div class="marker"></div>
        <div class="timeline-content">
           <h3>The University of Tokyo</h3>
           <span> - 2023.4</span>
           <p>Graduate School of Frontier Sciences, Department of Complexity Science and Engineering </p>
           <p></p>
        </div>
     </div>

     <div class="timeline-block timeline-block-right">
        <div class="marker"></div>
        <div class="timeline-content">
           <h3>Selected for the FY 2024 MITOU Advanced Program</h3>
           <span>2024.7 - </span>
           <p><a href="https://www.ipa.go.jp/jinzai/mitou/advanced/2024/gaiyou-mk-3.html" target="_blank">link here</a></p>

        </div>
     </div>
  </div>
{{ end }}
