{{ define "main" }}
  {{ if eq .Type "profile" }}
    <link rel="stylesheet" href="{{ "css/custom.css" | relURL }}">
  {{ end }}

  <h1>Carrer</h1>
  <div class="container">

     <div class="timeline-block timeline-block-right">
        <div class="marker"></div>
        <div class="timeline-content">
           <h3>広島大学</h3>
           <span>2019.4 - 2023.3</span>
           <p>理学部物理学科</p>
        </div>
     </div>

     <div class="timeline-block timeline-block-left">
        <div class="marker"></div>
        <div class="timeline-content">
           <h3>東京大学大学院修士課程</h3>
           <span> - 2023.4</span>
           <p>新領域創成科学研究科複雑理工学専攻学専攻</p>
        </div>
     </div>

     <div class="timeline-block timeline-block-right">
        <div class="marker"></div>
        <div class="timeline-content">
           <h3>未踏アドバンスト 採択</h3>
           <span>2024.7 - </span>
           <p></p>
        </div>
     </div>


  </div>

{{ end }}
